In [12]:
num_1 = 5.0
num_2 = 10
answer = num_2/num_1
answer_str = str(answer)

# int, integer
# str, string
# float
# * multiply
# / divide
# + plus
# - minus

type(num_1)

float

In [20]:
a = 3
b = 5
answer = a * b
print(answer)

15

In [28]:
r = 2
pi = 3.14

area = pi * r ** 2

area

12.56

In [32]:
name = "Kay"
job = "Data Manager"

name_job = f"Hi, my name is {name}, and I am a {job}"

name_job

'Hi, my name is Kay, and I am a Data Manager'

In [46]:
phrase = name_job

phrase [-8:-1]

#  iterable
# iterate over
# a thing that has parts that can be accessed one at a time
# counting in python starts at 0

# [start : stop : step]
# start is inclusive
# stop is exclusive - stops the character before
# to start from the right use - (minus)

' Manage'

In [49]:
filename = "ssda903_list_1.csv"

short_fn = filename[8:-4]

short_fn

'list_1'